body {
    background-color: #fcfcfc;
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #152938
}

h1 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #152938;
    font-size: 48px;
}

#button-1 {
    background-color: #FDA214;
    color: #fcfcfc;
}

#button-1:hover {
    background-color: #FFD580;
}

#button-2 {
    background-color: #BCCED9;
}

#button-2:hover {
    background-color: #6395b8;
}