body {
    background-color: #fcfcfc;
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #152938
}

/* navbar */

h1 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #152938;
    font-size: 48px;
    text-align: end;
}

h3 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #152938;
    font-size: 20px;
}

.space {
    padding: 25px;
}

#button-1 {
    background-color: #FDA214;
    color: #fcfcfc;
}

#button-1:hover {
    background-color: #FFD580;
}

#button-2 {
    background-color: #BCCED9;
}

#button-2:hover {
    background-color: #6395b8;
}

#button-3 {
    background-color: #FDA214;
    color: #fcfcfc;
}

#button-3:hover {
    background-color: #FFD580;
}

/* game area */

#container1 {
    margin-top: 80px;
    height: 572px;
    width: 572px;
    margin-bottom: 80px;
}

.circle {
    height: 82px;
    width: 82px;
    background-color: #304859;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    padding: 0px;
}

#footer {
    height: 130px;
    width: 1110px;
}

.info-box1 {
    background-color: #fda214;
    height: 72px;
    width: 255px;
}

.info-box2 {
    background-color: #bcced9;
    height: 72px;
    width: 255px;
}

.info-box3 {
    background-color: #bcced9;
    height: 72px;
    width: 255px;
}

.info-box4 {
    background-color: #bcced9;
    height: 72px;
    width: 255px;
}

span {
    margin-left: 110px;
}

/* Media Queries */

/* for screens 390px max */

@media (max-width: 390px) {
    #container1 {
        height: 326.87762451171875px;
        width: 326.87762451171875px;
    }
}

@media (max-width: 390px) {
    .circle {
        height: 30px;
        width: 29.727272033691406px;
    }
}

@media (max-width: 390px) {
    #footer {
        height: 78px;
        width: 327px;
    }
}

@media (max-width: 390px) {
    .info-box1 {
        height: 78px;
        width: 64px;
    }
}

@media (max-width: 390px) {
    .info-box2 {
        height: 78px;
        width: 64px;
    }
}

@media (max-width: 390px) {
    .info-box3 {
        height: 78px;
        width: 64px;
    }
}

@media (max-width: 390px) {
    .info-box4 {
        height: 78px;
        width: 64px;
    }
}


/* for screens 900px */

@media (max-width: 900px) {
    #footer {
        height: 92px;
        width: 689px;
    }
}

@media (max-width: 900px) {
    .info-box1 {
        height: 80px;
        width: 164px;
    }
}

@media (max-width: 900px) {
    .info-box2 {
        height: 80px;
        width: 164px;
    }
}

@media (max-width: 900px) {
    .info-box3 {
        height: 80px;
        width: 164px;
    }
}

@media (max-width: 900px) {
    .info-box4 {
        height: 80px;
        width: 164px;
    }
}

@media (max-width: 900px) {
    h3 {
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    .space {
        padding: 12px;
        padding-top: 30px;
    }
}

@media (max-width: 900px) {
    span {
        margin-left: 55px;
    }
}